* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4AD85;
}

header {
    margin-top: 80px;
}

h1, h2, label, button {
    font-family: 'Karla', sans-serif;
}

h2{
    margin-top: 50px;
    max-width: 500px;
    margin-bottom: 20px;
}
/*lägg till mellanrum mellan raderna*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
form {
    display: flex;
    flex-direction: column;
}
/*lägg till mellanrum mellan raderna*/

input{
    width: 100%;
    height: 15px;
    border: none;
    border-bottom: 2px solid black;
    margin-top: 20px;
    background-color: #F4AD85;
    font-size: 16px;

}
label {
    margin-top: 20px;
}

button{
    max-width: 80px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: lightgray;
    color: black;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
}

button:hover{
    background-color: lightskyblue;
}
img {
    border-radius: 20px;
    margin-top: 50px;   
}